@layout('layouts/blank')

@section('content')
    <div class="d-flex justi-content-center align-items-center">
        <h2> Hello {{ fullname }} </h2>
        <p>
        You request to reset your password. <a href="{{reset_url}}">Click here</a>
        </p>
    </div>
@endsection